
body {
    margin: 0;
    padding: 0;

}

/* ~~Shared Properties~~ */

 {
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

.grid-container {
    display: grid;       
    grid-template-columns: 25% 75%;
}
/* ~header~ */
.header {
    position: sticky;
    top: 0;    
    background-color: white;
    grid-column: 1/3;
}
.shared-navigation {
    display: flex;
    align-items: center;
    height: 5vh;
}
/* ~links~ */
a, a:link, a:visited {
    text-decoration: none;
    color: black;
    background-color: white;
}
a:hover {
    text-decoration: underline;
}
/* ~logo~ */
.official-logo {
    max-height: 100%;
}

/* ~body~ */
.side-bar {
    grid-column: 1/2;
}

/*~ Footer ~*/
.footer {
    border-top-style: solid; 	
    text-align: center;
    grid-column: 1/3;
    height: 5vh;
}
.body {
}
    

/* ~~DESKTOP~~ */
@media only screen and (min-width: 750px) {
    /* ~navigation~ */
    #top-navigation-desktop {
	height: 5vh;
    }
    .account-icon{
	margin-left: auto;
	font-size: 1.5em;
    }    
    #links {
	/* width and height dont apply if inline, it will be deterimed by the size of the content of the element.*/
	border-bottom-style: solid; 
	border-top-style: solid; 	
	text-align: center;
    }
    .links
    #icon {	
	display: none;
    }
    /* ~body~ */
    .body {
	grid-column: 2/3;
    }
    /* ~removed elements for desktop view~ */
    #mobile-navigation {
	display: none;
    }

}

/* ~~MOBILE~~ */
@media only screen and (max-width: 750px) {
    /* ~mobile menu~ */

    #mobile-navigation {	
	border-top-style: solid;
	display:flex;
	align-items: center;
    } 
    #links {
	display: none;
    }
    #links a{
	display: block;
	padding: 0.5rem;
    }
    #icon {
	color: black;
	padding: 0.5rem;
    }
    .account-icon {
	margin-left: auto;
	padding: 0.5rem;
    }
    /* ~mobile body~ */
    .body {
	grid-column: 1/3;
    }
    /* ~removed elements in mobile view~ */
    .side-bar{
	display: none;
    }
    #top-navigation-desktop {	
	display: none;
    }
    #logo-desktop {
	display: none;
    }
}
