/* ~~Shared Properties~~ */
*{
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: border-box;
}

/* ~links~ */
li {
    list-style: none;
}
a, a:link, a:visited {
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}

/* ~logo~ */
.official-logo {
    height: 5vh;    
}

/* ~layout~ */
.grid-container {
    height: 100dvh;
    height: 100vh;
    display: grid;       
    grid-template-columns: 20% 80%;
    grid-auto-rows: auto 1fr auto;
}
header, main, footer {
    grid-column: 1/3;
}
/* ~header~ */
header {
    position: sticky;
    top: 0;        
    background-color: white;    
}
.shared-navigation {
    height: 5vh;
    display: flex;
    align-items: center;
}
/* ~body~ */

/*~ Footer ~*/
footer {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    border-top-style: solid; 	     
}
.useful-links, .socials {
    flex-basis: 50%;
}
.useful-links {
    text-align: right;
}
.copyright {
    align-self: flex-end;
    flex-grow: 1;
    text-align: center;
    word-wrap: break-word;   
}



/* ~~DESKTOP~~ */
@media only screen and (min-width: 750px) {

    /* ~navigation~ */
    #desktop-navigation {
	height: 2rem;
    }
    .account-icon{
	margin-left: auto;
	font-size: 1.5em;
    }    
    #links {
	background-color: white;
	text-align: center;
	/* width and height dont apply if inline, it will be deterimed by the size of the content of the element.*/
	border-bottom-style: solid; 
	border-top-style: solid; 	
    }
    #links li {
	display: inline;	
    }
    #links li a {
	padding: 0 1em;
    }
    /* ~body~ */
    .body {
	grid-column: 2/3;
    }
    /* ~removed elements for desktop view~ */
    #mobile-navigation {
	display: none;
    }
    #icon {	
	display: none;
    }
    
}

/* ~~MOBILE~~ */
@media only screen and (max-width: 750px) {
    /* ~mobile menu~ */
    #mobile-navigation {	
	display:flex;
	align-items: center;
    } 
    #links {
	display: none;
    }
    #links a{	
	display: block;
	padding: 0.5rem;
    }
    #icon {
	color: black;
	padding: 0.5rem;
    }
    .account-icon {
	margin-left: auto;
	padding: 0 0.5rem;
    }
    /* ~mobile body~ */
    .body {
	grid-column: 1/3;
    }
    /* ~mobile footer~ */
    .copyright {	
	transform: scale(0.8);
    }
    /* ~removed elements in mobile view~ */
    .side-bar{
	display: none;
    }
    #desktop-navigation {	
	display: none;
    }
    #logo-desktop {
	display: none;
    }
}
